<div class="container">
<div class="sidebar">
  <nav>
    <ul>
      <li><a routerLink="/operation-request/list" routerLinkActive="active">List Operation Request</a></li>
      <li><a routerLink="/operation-request/create" routerLinkActive="active">Create Operation Request</a></li>
      <li><a routerLink="/operation-request/edit" routerLinkActive="active">Edit Operation Request</a></li>
    </ul>
  </nav>
</div>

<div class="content">
  <!-- Renderiza o conteúdo das sub-rotas -->
  <router-outlet></router-outlet>
</div>
</div>