.edit-patient-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.email-section {
  display: flex;
  gap: 10px;
  align-items: stretch; /* Isso garante que ambos os elementos tenham a mesma altura */
  margin-bottom: 2rem;
  width: 85%;
}

.email-field {
  flex-grow: 1;
  display: flex;
  align-items: center; /* Alinha o conteúdo dentro do campo de entrada */
}

.request-update-btn {
  height: 100%; /* Garante que o botão tenha a mesma altura que o campo de entrada */
  min-width: 150px; /* Garante que o botão tenha uma largura mínima */
  display: flex; /* Corrigido de 'center' para 'flex' */
  align-items: center;
  justify-content: center;
  margin-top: 2px; /* Ajuste para mover o botão para baixo */
  margin-left: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

mat-select .mat-select-trigger {
  padding: 12px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 2rem;
}

button[mat-raised-button] {
  padding: 12px 24px;
  font-size: 14px;
  min-width: 120px;
  text-transform: none;
}

button[mat-raised-button]:disabled {
  background-color: #dcdcdc;
}

@media (max-width: 600px) {
  .edit-patient-container {
    padding: 1.5rem;
  }

  .email-section {
    flex-direction: column;
  }

  .button-group {
    justify-content: center;
  }

  mat-form-field {
    margin-bottom: 1.2rem;
  }

  button[mat-raised-button] {
    width: 100%;
  }
}
