<div class="form-container">
  <h2>Criar Novo Staff</h2>
  <!-- Mensagens de Feedback -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
    <!-- Primeiro Nome e Último Nome -->
    <div class="row">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Primeiro Nome*</mat-label>
        <input matInput formControlName="firstName" placeholder="Insira o primeiro nome" />
        <mat-error *ngIf="staffForm.get('firstName')?.hasError('required')">
          O primeiro nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Último Nome*</mat-label>
        <input matInput formControlName="lastName" placeholder="Insira o último nome" />
        <mat-error *ngIf="staffForm.get('lastName')?.hasError('required')">
          O último nome é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Função e Especialização -->
    <div class="row">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Função*</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="staffForm.get('role')?.hasError('required')">
          A função é obrigatória.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Especialização*</mat-label>
        <mat-select formControlName="specialization" >
          <mat-option *ngFor="let option of filteredSpecializations" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="staffForm.get('specialization')?.hasError('required')">
          A especialização é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Telefone -->
    <div class="row">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Telefone*</mat-label>
        <input matInput formControlName="phone" placeholder="Insira o telefone" />
        <mat-error *ngIf="staffForm.get('phone')?.hasError('required')">
          O telefone é obrigatório.
        </mat-error>
        <mat-error *ngIf="staffForm.get('phone')?.hasError('pattern')">
          O telefone deve ter exatamente 9 dígitos.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- DatePicker e campos de hora para horários -->
    <div class="availability-container">
      <mat-form-field appearance="fill">
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora de Início</mat-label>
        <input matInput type="time" placeholder="Escolha a hora de início" formControlName="startTime" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora de Fim</mat-label>
        <input matInput type="time" placeholder="Escolha a hora de fim" formControlName="endTime" />
      </mat-form-field>

      <button mat-fab color="primary" (click)="addSlot()" type="button">
        +
      </button>
    </div>

    <!-- Lista de horários adicionados -->
    <div class="slots-list">
      <h3>Horários Adicionados:</h3>
      <ul>
        <li *ngFor="let slot of availabilitySlots.controls; let i = index">
          {{ slot.value?.start | date: 'short' }} - {{ slot.value.end | date: 'short' }}
          <button mat-icon-button color="warn" (click)="removeSlot(i)" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
    </div>

    <!-- Botão de Envio -->
    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="staffForm.invalid" class="create-staff" type="submit">
        Criar Staff
      </button>
    </div>
  </form>
</div>
